<div class="col-md-8">
  <%= form_with(model: blog, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 15, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>