<h1>Editing <%= @project.title %></h1>

<%= form_with(model: @project, local: true) do |f| %>
  <div>  
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>
  <div>
    <%= f.label :sub_title %>
    <%= f.text_field :sub_title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 7 %>
  </div>
  <div>
    <%= f.label :main_image_file_name %>
    <%= f.file_field :main_image_file_name %>
  </div>
  <div>
    <%= f.label :thumb_image_file_name %>
    <%= f.file_field :thumb_image_file_name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>
