<h1>Projects</h1>

<p><%= link_to "Add a new project", new_project_path %></p>

<% @projects.each do |project| %>
  <p><%= link_to project.title, project %></p>
  <p><%= project.sub_title %></p>
  <p><%= project.description %></p>
  <p><%= image_tag project.thumb_image_file_name %></p>
  <p><%= link_to "Edit Project", edit_project_path(project) if logged_in?(:admin) %></p>
  <p><%= link_to "Delete Project", project, method: :delete, data: { confirm: 'Sure?'}  if logged_in?(:admin) %></p>
<% end %>