<h1>Projects</h1>

<p><%= link_to "Add a new project", new_project_path %></p>

<% @projects.each do |project| %>
  <p><%= project.title %></p>
  <p><%= project.sub_title %></p>
  <p><%= project.description %></p>
  <p><%= image_tag "placeholder.jpg" %></p>
  <p><%= link_to "Edit Project", edit_project_path(project) %></p>
<% end %>