<div class="container mt-5">
  <div class="row">

    <div class="col-md-7">
      <%= image_tag "placeholder.jpg", class: "img-fluid" %>
    </div>
    <div class="col-md-5">
      <p><%= @project.title %></p>
      <hr>
      <p><%= @project.sub_title %></p>
      <p><%= @project.description %></p>
      <hr>
      <% if @project.technologies.present? %>
        <h3>Technologies used:</h3>
        <ul>
          <% @project.technologies.each do |tech| %>
            <li><%= tech.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>






<% if @project.technologies.present? %>
<h3>Technologies used:</h3>
<ul>
  <% @project.technologies.each do |tech| %>
    <li><%= tech.name %></li>
  <% end %>
</ul>
<% end %>