<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>

    <%= csrf_meta_tags %>
    <meta name="keywords" content=<%= @seo_keywords %>>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_header" %>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">My Blog</h1>
        <p class="lead blog-description">My random thoughts on technology and anything.</p>
        <%= link_to "Write a New Post", new_blog_path if logged_in?(:admin) %>
      </div>
      <div class="row">
        <%= yield %>
        <%= render "shared/blog_sidebar" %>
      </div>
    </div>
        

    <%= source_helper %>

    <%= render "shared/blog_footer" %>
  </body>
</html>
